{% extends 'base.html.twig' %}

{% block title %}Dates Courtes
{% endblock %}

{% block header %}
	{% include "partials/header.html.twig" %}
{% endblock %}

{% block body %}


	<section id="home">
		<h1 class="has-text-centered mt-6 is-size-4">Mentions légales</h1>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

	</section>


	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}

{% endblock %}
