{% extends 'base.html.twig' %}

{% block title %}Mentions légales
{% endblock %}

{% block body %}

	{% include "partials/header.html.twig" %}


	<section id="home">
		<h1 class="has-text-centered mt-6 is-size-3">CGU et Mentions légales</h1>

		<h2 class="has-text-centered my-5 is-size-6-mobile is-size-4">Conditions générales d’utilisation du site Dates Courtes</h2>
		<div class="container mb-6">
			<h3 class="is-size-5 mb-2  has-text-weight-bold">ARTICLE 1 : Objet</h3>

			Les présentes « conditions générales d’utilisation » ont pour objet l’encadrement juridique de l’utilisation du site de Dates Courtes et de ses services.
														
														Ce contrat est conclu entre :
														
														Le gérant du site internet, ci-après désigné « l’Éditeur »,
														
														Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».
														
														Les conditions générales d’utilisation doivent être acceptées par tout Utilisateur, et son accès au site vaut acceptation de ces conditions.
			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 2 : Mentions légales</h3>


			Le site Dates Courtes est édité par Bryan Parmentelot et hébergé ?? . la société est représentée par Bryan Parmentelot.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 3 : accès aux services</h3>

			L’Utilisateur du site Dates Courtes a accès aux services suivants :
														- Possibilité d'ajouter des produits, de les modifier et de les supprimer 
														- Modification des informations relatives à son profil 
														
														Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder (connexion internet, matériel informatique, etc.) ne sont pas à la charge de l’Éditeur.
														
														Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation de préavis ou de justification.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 4 : Responsabilité de l’Utilisateur</h3>


			L’Utilisateur assume l’entière responsabilité de l’utilisation qu’il fait des informations et contenus présents sur le site Dates Courtes

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 5 : Responsabilité de l’Éditeur</h3>


			Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
														
														De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.
														
														Le site s’engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
														
														L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 6 : Propriété intellectuelle</h3>


			Les contenus du site Dates Courtes sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.
														
														Concernant les icones graphiques elles sont utilisées via FontAwesome. 
										
														Le logo est réalisé par :
			<a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
			from
			<a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>


			L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.
													
													Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 7 : Données personnelles</h3>


			Dates Courtes garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés.
													
													L’internaute peut être amené à fournir certaines données personnelles en se créant un compte et via le formulaire de contact. La saisie de ces données est nécessaire au traitement de la demande de l’internaute
													
													Dates Courtes s’engage à respecter les dispositions de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiées et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit « RGPD » et prendre toute précaution nécessaire pour préserver la sécurité des informations nominatives confiées.
													
													Responsable de traitement
													
													Dates Courtes traite les données personnelles des internautes en qualité de responsable de traitement.
													
													Données personnelles traitées et finalités de traitement
													
													Dates Courtes recueille des données personnelles d’internautes ayant crée un compte et ayant pris contact avec lui notamment via le formulaire de contact. Ces données sont nécessaires afin de répondre à la sollicitation des internautes. Dans le cadre de la fourniture de ses services, Dates Courtes traite uniquement les données personnelles suivantes strictement nécessaires à leur demande de prise de contact : nom, prénom et adresse email.
													
													La finalité de traitement de ces données personnelles est de permettre à Dates Courtes de répondre aux sollicitations des internautes.
													
													Destinataires des données personnelles
													
													Les données personnelles collectées sur le Site sont traitées uniquement par l’administrateur du site internet dates-courtes.fr
													
													Les données personnelles sont stockées en grande majorité sur des serveurs d’hébergement situés dans l’Union européenne.
													
													Durée de conservation des données personnelles
													
													Le site Dates Courtes s’engage à conserver ces données personnelles, sauf obligation légale ou réglementaire contraire, pour une durée maximale de trois ans à compter du dernier contact avec l’internaute.
													
													A l’issue de cette durée ou en cas d’exercice de ses droits par les internautes, le site Dates Courtes s’engage à détruire toute copie des données personnelles des internautes qu’il détiendrait.
													
													Sécurité des données personnelles
													
													Le site Dates Courtes s’engage, au titre de son obligation de moyens, à prendre toutes les précautions utiles et met en œuvre des mesures techniques et organisationnelles appropriées en la matière pour garantir un niveau de sécurité adapté et pour protéger les données personnelles des internautes contre les altérations, destructions et accès non autorisés.
													
													Droits des internautes sur leurs données personnelles
													
													En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, de rectification, de suppression et d’opposition de ses données personnelles.
													
													Pour exercer l’un de ces droits, il convient d’adresser sa demande par email à l’adresse suivante : parmentelot.bryan@hotmail.fr
													
													Le site Dates Courtes s’engage à y répondre dans les meilleurs délais et au plus tard dans un délai d’un mois à compter de la réception de la demande.
													
													Si les internautes considèrent que le traitement de leurs données personnelles constitue une violation de la législation en vigueur, les internautes ont la possibilité d’introduire une réclamation auprès de la CNIL.
													
													Confidentialité des données personnelles
													
													Le site Dates Courtes garantit la confidentialité des données personnelles traitées et veille à ce que les personnes autorisées à traiter lesdites données personnelles s’engagent également à respecter cette obligation de confidentialité.
			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 8 : Liens hypertextes</h3>


			Les domaines vers lesquels mènent les liens hypertextes présents sur le site n’engagent pas la responsabilité de l’Éditeur de Dates Courtes, qui n’a pas de contrôle sur ces liens.
													
													Il est possible pour un tiers de créer un lien vers une page du site Dates Courtes sans autorisation expresse de l’éditeur.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 9 : Les cookies</h3>


			La navigation sur le Site est susceptible d’entrainer l’installation de cookies sur l’ordinateur de l’utilisateur.
													
													Les données obtenues par le biais de ces cookies visent à faciliter la navigation ultérieure sur le Site et ont vocation à permettre diverses mesures de fréquentation sur le Site.
													
													L’utilisateur du Site a la possibilité de désactiver les cookies en se rendant dans les options de son navigateur comme indiqué ci-dessous :
													
													    Google Chrome
													    Modzilla Firefox
													    Safari
													    Opera
													    Internet Explorer
													    Edge

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 10 : Évolution des conditions générales d’utilisation</h3>


			Le site Dates Courtes se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 11 : Durée du contrat</h3>


			La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de l’Utilisateur à compter du début de l’utilisation du service.

			<h3 class="is-size-5 mt-5 mb-2 has-text-weight-bold">ARTICLE 12 : Droit applicable et juridiction compétente</h3>

			Le présent contrat dépend de la législation française.
													En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux de Besançon sont compétents pour régler le contentieux.
		</div>

	</section>


	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}
{% endblock %}
