{% extends 'base.html.twig' %}

{% block title %}Inscription à dates courtes{% endblock %}

{% block body %}

<section id="register">
<h1>S'inscrire</h1>


</section>

<footer style="background-color: #f1f1f1;">
<a href="#">Mentions légales</a>
</footer>

{% endblock %}