<header>
<svg id="Calque_1" class="is-hidden-mobile" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 413.5"><defs><style>.cls-1{fill:#327c83;}.cls-2{fill:#3d4657;}</style></defs><title>web-dates-courtes</title><path class="cls-1" d="M0,0H1920V300c-82-8.3-81.92-181.45-473.6-156C861.6,181.87,868.28,385.38,222.72,411.28c-95.57,3.83-174.16,1.94-222.72,0Z"/><path class="cls-2" d="M0,0H1920V248c-82-6.86-81.92-150-473.6-129C861.6,150.35,868.28,318.59,222.72,340,127.15,343.17,48.56,341.61,0,340Z"/></svg>


	<svg id="Calque_1" class="is-hidden-tablet" data-name="Calque 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 750 413.5">
		<defs>
			<style>
				.cls-1 {
					fill: #327c83;
				}
				.cls-2 {
					fill: #3d4657;
				}
			</style>
		</defs>
		<title>registerform</title><path class="cls-1" d="M.5-.5h750v300c-32-8.3-32-181.45-185-156-228.44,37.92-225.83,241.43-478,267.33a427.45,427.45,0,0,1-87,0Z" transform="translate(-0.5 0.5)"/><path class="cls-2" d="M.5-.5h750v248c-32-6.86-32-150-185-129-228.44,31.35-225.83,199.59-478,221a515.54,515.54,0,0,1-87,0Z" transform="translate(-0.5 0.5)"/></svg>

</header>