$colorBack : #509399;
$fontGreyDark : #327C83;
$colorBack2: #3d4657;
$colorFont: #D1D3D8;

$firstFont : 'Lato',
sans-serif;

.fontGrey {
    // utiliser pour mettre les dernières lettres en vert
    color: $colorBack;
}

.fontGreyHover {

    &:hover {
        color: $fontGreyDark;
    }
}
.registration {

    .fontGreyHover {
        &:hover {
            text-decoration: underline;
        }
    }
}

#text {
    display: none;
}


// html {
//     background-color: $colorBack2;
// }

// Logo du header
.img-logo {
    position: absolute;
    top: 50px;
    left: 100px;

    @media(max-width: 767px) {
        position: absolute;
        top: 40px;
        left: 30px;
        height: 64px;
        width: 64px;
    }
}

// Pour situer la nav dans le svg du header
.nav-svg {
    position: absolute;
    top: 200px;
    right: 215px;
    color: $fontGreyDark;

    @media (max-width: 767px) {
        position: absolute;
        top: 125px;
        right: 25px;
        color: $fontGreyDark;
    }

    ul {
        li {
            a {
                color: #327C83;
            }
        }

        @media (min-width: 768px) {
            .nav-ml {
                margin-left: 3em;
            }

            .nav-mr {
                margin-right: 3em;
            }
        }
    }

}

// Page de login
#login {
    width: 100vw;
    height: 100vh;
    color: $colorFont;
    background-color: $colorBack2;
    font-family: $firstFont;

    .box-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {

            .fa-clock {
                color: $colorBack;
            }

            input,
            button {
                border-color: transparent;
                border-radius: 9999px;
                padding: 3px 0;
                width: 80%;

                @media (max-width: 767px) {
                    width: 100%;
                    padding: 5px 0;
                    font-size: 0.9em;
                }
            }

            input {
                text-align: center;
            }

            button {
                color: white;
                background: rgb(113, 219, 153);
                background: linear-gradient(90deg, rgba(113, 219, 153, 1) 0%, rgba(100, 209, 195, 1) 50%, rgba(88, 196, 238, 1) 100%);
            }
        }
    }
}



// Page de création de compte & de modification des informations

#register,
#home,
#user,
#product,
#edit,
#product-index,
#error {
    margin: auto;
    width: 80%;

    .btn-form {
        border-radius: 11px;
        border-color: transparent;
        background-color: $colorBack2;
        color: #f1f1f1;
        padding: 8px 20px;

        &:hover {
            cursor: pointer;
            background-color: #242C3C;
            color: white;
        }
    }

    .error-form {
        color: red;
        font-size: 0.75em;
        font-weight: thin;
    }
}

// checkbox pour valider les conditions générales
.registration {

    label {
        font-size: 0.9em;
    }

    #registration_validate {
        margin-left: 0.5em;
    }
}


.form-group {
    // bloc comprenant le label et input
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;

    label {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        color: $colorBack2;
        font-size: 14px;
        transition: 0.4s ease-out;
        margin-left: 15%;

        @media (max-width: 767px) {
            margin-left: inherit;
        }
    }

    input {
        display: block;
        width: 70%;
        padding: 10px 0px;
        border: none;
        outline: none !important;
        background: none;
        border-bottom: 2px solid $colorBack2;
        color: #666;
        font-size: 13px;
        transition: 0.4s ease-out;

        &:focus {
            box-shadow: none !important;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    /* Animation */
    &:focus-within,
    &.animation {
        label {
            top: 0px;
            transform: translateY(-50%);
            color: #3D6480;
            font-size: 10px;
        }

        input {
            border-bottom-color: #3D6480;
        }
    }
}

.form-product {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;

    label {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translateY(-50%);
        color: #3D6480;
        font-size: 14px;
        margin-left: 15%;

        @media (max-width: 767px) {
            margin-left: inherit;
        }
    }

    input {
        display: block;
        width: 70%;
        padding: 10px 0px;
        border: none;
        outline: none !important;
        background: none;
        border-bottom: 2px solid $colorBack2;
        color: #666;
        font-size: 13px;
        transition: 0.4s ease-out;

        &:focus {
            box-shadow: none !important;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &:focus-within,
    &.animation {

        input {
            border-bottom-color: #3D6480;
        }
    }
}

// #product_reserve,
#product_date {

    // pour éviter que le input déborde sur le label pour le form d'ajout de produits
    @media (max-width: 767px) {
        margin-top: 15px;
    }
}

.reserve {

    // align le text à gauche pour la premiere question du form d'ajout de produit
    @media (max-width: 767px) {
        text-align: left;
        display: flex;
    }

    input {
        @media (max-width: 767px) {
            position: absolute;
            // right: 145px;
            top: 10px;
        }
    }
}

.optional {
    display: none;
}

#home {
    table {
        margin: auto;

        @media (max-width: 767px) {

            thead {
                font-size: 0.75em;
            }

            tbody {
                font-size: 0.6em;
            }
        }

    }
}

#product-index {

    table {

        margin: auto;

        @media (max-width: 767px) {

            thead {
                font-size: 0.65em;
            }

            tbody {
                font-size: 0.55em;
            }
        }

    }
}

// a href supprimer le produit 
.clear-product {
    width: 20%; 
    margin:auto; 
    border-radius: 9999px;

    @media (max-width: 767px) {
        width: 80%;
    }
}

// Icône de je souhaite ajouter un produit
.add-product {
    a {
        color: #3d4657;

        &:hover {
            color: #327C83;
        }
    }
}

// block comprenant le h2 + le signe fontawesome
.info-optional {
    display: flex;
    justify-content: center;
    width: 100%; // pour éviter un grand espacement entre les deux éléments
}

// Bouton afficher les infos facultatives
.arrow-optional {
    background-color: transparent;
    border: none;
    outline: none;
}

// fontawesome signe + & - 
.fa-plus-circle,
.fa-minus-circle {
    color: #327C83;
}




// Product 

// ajouter un produit 

.flash-notice {
    background-color: $fontGreyDark;
    border-radius: 20px;
    color: white;
}

.flash-error {
    background-color: #8B0000;
    color: white;

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

// supprimer, editer et + infos sur un produit
.fa-trash-alt,
.fa-pencil-alt,
.fa-search {
    color: $colorBack;

    &:hover {
        color: $colorBack2
    }
}

.trash { // Date inférieure à 30 jours
    background-color: #8B0000;
    color: white;
}

.alert { // Date supérieur à 30 jours et inférieure à 60 jours
    background-color: #FFC400;
    color: white;
}

.trash,
.alert {
    .fa-search,
    .fa-trash-alt {
        color: white;

        &:hover {
            color: #f1f1f1;
        }
    }

    &:hover {
        background-color: $colorBack2 !important;
    } 
}

footer {
    background-color: $colorBack2;

    a {
        color: white;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}