$colorBack : #509399;
$fontGreyDark : #327C83;
$colorBack2: #3d4657;
$colorFont: #D1D3D8;

$firstFont : 'Lato',
sans-serif;

.fontGrey {
    // utiliser pour mettre les dernières lettres en vert
    color: $colorBack;
}

.fontGreyHover {

    &:hover {
        color: $fontGreyDark;
    }
}

// html {
//     background-color: $colorBack2;
// }

// Pour situer la nav dans le svg du header
.nav-svg {
    position: absolute; 
    top: 200px; 
    right: 275px; 
    color: $fontGreyDark;

    @media (max-width: 767px) {
        position: absolute; 
        top: 125px; 
        right: 50px; 
        color: $fontGreyDark;
    }

    ul {
        li {
            a {
                color: #327C83;
            }
        }
    }

}

// Page de login
#login {
    width: 100vw;
    height: 100vh;
    color: $colorFont;
    background-color: $colorBack2;
    font-family: $firstFont;

    .box-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {

            .fa-clock {
                color: $colorBack;
            }

            input,
            button {
                border-color: transparent;
                border-radius: 9999px;
                padding: 3px 0;
                width: 80%;

                @media (max-width: 767px) {
                    padding: 6px 0;
                    font-size: 1em;
                }
            }

            input {
                text-align: center;
            }

            button {
                color: white;
                background: rgb(113, 219, 153);
                background: linear-gradient(90deg, rgba(113, 219, 153, 1) 0%, rgba(100, 209, 195, 1) 50%, rgba(88, 196, 238, 1) 100%);
            }
        }
    }
}



// Page de création de compte 

#register {
    width: 70%;

    .btn-register {
        border-radius: 11px;
        border-color: transparent;
        background-color: $colorBack2;
        color: white;
        padding: 8px 20px;
    }

    .error-register {
        color: red;
        font-size: 0.75em;
        font-weight: thin;
    }
}


.form-group {
    // bloc comprenant le label et input
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;

    label {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        color: $colorBack2;
        font-size: 14px;
        transition: 0.4s ease-out;
        margin-left: 15%;

        @media (max-width: 767px) {
            margin-left: inherit;
        }
    }

    input {
        display: block;
        width: 70%;
        padding: 10px 0px;
        border: none;
        outline: none !important;
        background: none;
        border-bottom: 2px solid $colorBack2;
        color: #666;
        font-size: 13px;
        transition: 0.4s ease-out;

        &:focus {
            box-shadow: none !important;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    /* Animation */
    &:focus-within,
    &.animation {
        label {
            top: 0px;
            transform: translateY(-50%);
            color: #3D6480;
            font-size: 10px;
        }

        input {
            border-bottom-color: #3D6480;
        }
    }
}

