$colorBack : #509399;
$fontGreyDark : #327C83;
$colorBack2: #3d4657;
$colorFont: #D1D3D8;

$firstFont : 'Lato',
sans-serif;

.fontGrey {
    // utiliser pour mettre les dernières lettres en vert
    color: $colorBack;
}

.fontGreyHover {

    &:hover {
        color: $fontGreyDark;
    }
}

// html {
//     background-color: $colorBack2;
// }

// Logo du header
.img-logo {
    position:absolute; 
    top: 50px; 
    left:100px; 

    @media(max-width: 767px) {
        position:absolute; 
        top: 40px; 
        left:30px; 
        height: 64px;
        width: 64px;
    }
}

// Pour situer la nav dans le svg du header
.nav-svg {
    position: absolute;
    top: 200px;
    right: 215px;
    color: $fontGreyDark;

    @media (max-width: 767px) {
        position: absolute;
        top: 125px;
        right: 25px;
        color: $fontGreyDark;
    }

    ul {
        li {
            a {
                color: #327C83;
            }
        }

        @media (min-width: 768px) {
            .nav-ml {
                margin-left: 3em;
            }

            .nav-mr {
                margin-right: 3em;
            }
        }
    }

}

// Page de login
#login {
    width: 100vw;
    height: 100vh;
    color: $colorFont;
    background-color: $colorBack2;
    font-family: $firstFont;

    .box-login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        form {

            .fa-clock {
                color: $colorBack;
            }

            input,
            button {
                border-color: transparent;
                border-radius: 9999px;
                padding: 3px 0;
                width: 80%;

                @media (max-width: 767px) {
                    padding: 6px 0;
                    font-size: 1em;
                }
            }

            input {
                text-align: center;
            }

            button {
                color: white;
                background: rgb(113, 219, 153);
                background: linear-gradient(90deg, rgba(113, 219, 153, 1) 0%, rgba(100, 209, 195, 1) 50%, rgba(88, 196, 238, 1) 100%);
            }
        }
    }
}



// Page de création de compte & de modification des informations

#register,
#user {
    margin: auto;
    width: 70%;

    .btn-form {
        border-radius: 11px;
        border-color: transparent;
        background-color: $colorBack2;
        color: #f1f1f1;
        padding: 8px 20px;

        &:hover {
            cursor: pointer;
            background-color: #242C3C;
            color: white;
        }
    }

    .error-form {
        color: red;
        font-size: 0.75em;
        font-weight: thin;
    }
}



.form-group {
    // bloc comprenant le label et input
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 22px;

    label {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        color: $colorBack2;
        font-size: 14px;
        transition: 0.4s ease-out;
        margin-left: 15%;

        @media (max-width: 767px) {
            margin-left: inherit;
        }
    }

    input {
        display: block;
        width: 70%;
        padding: 10px 0px;
        border: none;
        outline: none !important;
        background: none;
        border-bottom: 2px solid $colorBack2;
        color: #666;
        font-size: 13px;
        transition: 0.4s ease-out;

        &:focus {
            box-shadow: none !important;
        }

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    /* Animation */
    &:focus-within,
    &.animation {
        label {
            top: 0px;
            transform: translateY(-50%);
            color: #3D6480;
            font-size: 10px;
        }

        input {
            border-bottom-color: #3D6480;
        }
    }
}

table {

    @media (max-width: 767px) {

        thead {
            font-size: 0.75em;
        }

        tbody {
            font-size: 0.6em;
        }
    }

}

// Icône de je souhaite ajouter un produit
.add-product {
    a {
        color: #3d4657;

        &:hover {
            color: #327C83;
        }

        .fa-plus-circle {
            color: #327C83;
        }

    }


}



footer {
    background-color: $colorBack2;

    a {
        color: white;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }
}